@font-face {
    font-family: "Avenir Next World W05 Bold";
    src: url("https://db.onlinewebfonts.com/t/338a2dfd3322358222800514bb74247c.eot");
    src: url("https://db.onlinewebfonts.com/t/338a2dfd3322358222800514bb74247c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/338a2dfd3322358222800514bb74247c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/338a2dfd3322358222800514bb74247c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/338a2dfd3322358222800514bb74247c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/338a2dfd3322358222800514bb74247c.svg#Avenir Next World W05 Bold")format("svg");
}





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 240, 240);

    .main-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: max-content;
        padding: 2%;
        align-items: center;
        background: rgb(255, 241, 241);
        .title{
            text-align: center;
            margin-bottom: 15px;

            h1{
                font-size: 3.7rem;
                font-family:"Avenir Next World W05 Bold";
            }
            p{
                font-family: poppins;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }

        .column{
            display: flex;

            width: 100%;

            .left-image{
                
           
                width: 65%;
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: end;

               
                

            }
            .right{
                padding: 2%;
                width: 100%;
                gap: 1rem;
                display: flex;
                flex-direction: column;
                

                .inp-row{            
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;

                   .form{

                        border: 1px solid #0070f6;
                 
                       border-color: #0070f6;
                       border-style:ridge;
                    
                        width: 470px;
                        height: 56px;
                        border-radius: 60px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                       
                      .span-2{

                        background: rgb(247, 247, 247);
                        padding: 8px 100px;
                        text-align: left;
                        font-size: 15px;
                        border-radius: 5px;
                        font-weight: bold;
                        font-family: poppins;
                        color: black;
                      }
                        .span{
                            background: rgb(154, 228, 55);
                            padding: 8px 12px;
                            border: none;
                            font-size: 12px;
                            border-radius: 5px;
                            font-weight: bold;
                            font-family: poppins;
                            color: black;
                            letter-spacing: 0.08cap;
                          
                        }
                    .fa-rotate-right{
                        margin-right: 13px;
                    }
                        
                    }
                    .copy-btn{
                        margin-left:20px ;
                        border: none;
                        height: 50px;
                        width: 90px;
                        border-radius: 60px;
                        background: #0070f6;
                        color: white;
                        font-family: poppins;
                        font-weight: bold;
                    }
                }

                .pass-lenght-wrap{
                    width: 100%;
                    
                    padding: 2%;
                    display: flex;
                    justify-content:start;
                    gap: 2rem;

                    .text-wrap{
                        
                       
                        display: flex;
                        gap: 1rem;
                        justify-content: start;
                        align-items: center;

                        p{
                            font-family: poppins;
                            font-size: 20px;
                        }
                        .password-lenght-quantity{
                            font-size: 18px;
                            font-family: poppins;
                            font-weight: bold ;
                        }
                    }
                    .btn-wrap{
                   
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;


                        .miness-btn{
                            border: 1px solid black;
                            outline: none;
                            font-size: 25px;
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            text-align: center;
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            transition: all 0.2s ease-in-out;

                            &:hover{
                            
                                background: black;
                                color: rgb(147, 147, 147);
                            }
                        }
                        .progress-bar-outer{
                            // height: 15px;
                            // width: 285px;
                            // border: 1px solid #0070f6;
                            // border-radius: 10px;
                            // display: flex;
                            // align-items: center;
                            

                            .password-rang{
                                width: 100%;
                                height: 15px;
                                transform: rotateX(3.142rad);
                                float: left;
                                appearance: none;
                                border: 1px solid black;
                                width: 310px;   
                                border-radius: 40px;
                            }
                            .password-rang::-webkit-slider-thumb{
                                appearance: none;
                                height: 43px;
                                width: 43px;
                                background: white;
                                border-radius: 50%;
                                border: 1px solid #0070f6;
                            }

                        // .progress-bar{
                        //     height: 15px;
                        //     width: 205px;
                        //    transform: translatex(50%);
                        //     background: #0070f6;
                        //     border-radius: 10px;
                        // }
                    }
                        .plus-btn{
                            border: 1px solid black;
                            outline: none;
                            font-size: 25px;
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            text-align: center;
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            transition: all 0.2s ease-in-out;
                            cursor: pointer;

                            &:hover{
                            
                                background: black;
                                color: rgb(147, 147, 147);
                            }
                        }
                    }
                }
                .check-box-wrap{
                   
                    padding: 2%;
                    display: flex;
                    gap: 1rem;

                    .txt-check-wrap{

                        align-items: center;
                        display: flex;

                        p{
                            font-family: poppins;
                            font-size: 20px;
                        }
                    }
                    .check-box-wrap{
                        display: flex;
                        gap: 1rem;

                        label{
                            font-family: poppins;
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .box-label-wrap{
                  
                            padding: 5px;
                            gap: 8px;
                            display: flex;
                            align-items: center;

                            .check{
                                
                                height: 20px;
                                width: 20px;
                          
                                border: 1px solid #0070f6;
                                border: 1px solid black;
                                border-radius: 4px;
                                
                            }
                            
                        }
                    }

                }

            }
        }
    }
}